---
layout: default
post_class: post-template page-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %}">
        <a class="back-button" href="{{ site.url }}">
            <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
        </a>
        <a class="subscribe-button" href="{{ site.url }}/feed.xml">
            <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
    </nav>
</header>


{{content}}
 

