---
layout: default
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %}">
        <a class="back-button" href="{{ site.url }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="subscribe-button" href="{{ site.url }}/feed.xml">
            <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
    </nav>
</header>

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                {% include read_time.html %}
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
              {% assign author = site.data.authors[site.author] %}
            {% endif %}
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.url }}/about/" style="background-image: url({{author.avatar}})"></a>
                </figure>
                <section class="author">
                    <p> {{ author.bio }}</p>
                    <b>"I haven’t been everywhere, but it’s on my list."<br>Susan Sontag</b>
                    <br>
                    <a class="fab fa-creative-commons fa-lg" href="https://creativecommons.org/licenses/by/4.0/"></a>
                </section>
            {% endif %}
            {% include comments.html %}
        </footer>
    </article>
</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.next.url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.previous.url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>
