---
layout: page
post_class: post-template
---

{% if site.author %}
    {% assign author = site.data.authors[site.author] %}
{% endif %}

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>  
            <section class="post-meta">
                {% if site.author %}
                    <img class="author-thumb" href="{{ site.url }}" src="{{author.avatar}}" nopin="nopin" />
                    {{author.name | prepend: 'by '}}
                {% endif %}    
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
                    {{ page.date | date_to_string }}
                </time>
                <section class="post-date">
                    {% if page.categories.size > 0 %} 
                        {{ page.categories | array_to_sentence_string | prepend: '' }}
                    {% endif %} 
                </section>
                <section class="post-date">
                    {% include read_time.html %}
                </section>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <section class="author">
                    <figure class="author-image">
                        <a class="img" href="{{ site.url }}" style="background-image: url({{author.avatar}})"></a>
                    </figure>
                    <p>{{ author.bio }}</p>
                    <ul class="author-social">
                        {% if author.email %}
                            <li><a href="mailto:{{ author.email }}"><i class="fas fa-paper-plane"></i></a></li>
                        {% endif %}
                        {% if author.number %}
                            <li><a href="https://wa.me/{{ author.number }}"><i class="fab fa-whatsapp"></i></a></li>
                        {% endif %}
                        {% if author.keybase %}
                            <li><a href="https://keybase.io/{{ author.keybase }}"><i class="fab fa-keybase"></i></a></li>
                        {% endif %}
                        {% if author.keybase %}
                            <li><a href="https://www.t.me/{{ author.telegram }}"><i class="fab fa-telegram"></i></a></li>
                        {% endif %}
                        {% if author.cv %}
                            <li><a href="{{ site.url }}/cv/"><i class="far fa-file-pdf"></i></a></li>
                        {% endif %}
                        {% if author.facebook %}
                            <li><a href="https://facebook.com/{{ author.facebook }}"> <i class="fab fa-facebook"></i></a></li>
                        {% endif %}
                        {% if author.twitter %}
                            <li><a href="https://twitter.com/{{ author.twitter }}"><i class=" fab fa-twitter"></i></a></li>
                        {% endif %}
                        {% if author.medium %}
                            <li><a href="https://medium.com/@{{ author.medium }}"><i class=" fab fa-medium"></i></a></li>
                        {% endif %}
                        {% if author.reddit %}
                            <li><a href="https://reddit.com/user/{{ author.reddit }}"><i class=" fab fa-reddit-alien"></i></a></li>
                        {% endif %}
                        {% if author.github %}
                            <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-github"></i></a></li>
                        {% endif %}
                        {% if author.linkedin %}
                            <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                        {% endif %}
                        {% if author.goodreads %}
                            <li><a href="https://goodreads.com/{{ author.goodreads }}"><i class="fab fa-goodreads"></i></a></li>
                        {% endif %}
                        {% if author.lastfm %}
                            <li><a href="http://lastfm.com/user/{{ author.lastfm }}"><i class="fab fa-lastfm"></i></a></li>
                        {% endif %}
                        {% if author.instagram %}
                            <li><a href="https://instagram.com/{{ author.instagram }}"><i class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if author.pinterest %}
                            <li><a href="https://www.pinterest.com/{{ author.pinterest }}"><i class="fab fa-pinterest"></i></a></li>
                        {% endif %}
                        {% if author.blockchain %}
                            <li><a href=" https://www.blockchain.com/btc/address/{{ author.blockchain }}"><i class="fab fa-bitcoin"></i></a></li>
                        {% endif %}
                    </ul>
                    <a href="https://creativecommons.org/licenses/by/4.0/">
                        <i class="fab fa-creative-commons" aria-hidden="true"></i>
                    </a>

                </section>
            {% endif %}
        </footer>
    </article>
</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.next.url }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.url }}{{ page.previous.url }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>
